body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
    padding-top: 40px;
}

h1 {
    color: #38bdf8;
}

.buttons {
    margin-top: 40px;
}

button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.start {
    background-color: #22c55e;
    color: black;
}

.stop {
    background-color: #ef4444;
    color: white;
}
